extends base
block content
  body
    nav#navigation.navigation
      a.nav__head(href='#') TSound
      ul.nav__list
        li.nav__item
          a(href='/') Home
        li.nav__item.active
          a(href='/shop') Shop
        li.nav__item
          a(href='#') Services
        li.nav__item
          a(href='#') Support
      .nav__buttons
        a(href='#')
          i.bx.bxs-cart
        a.profile(href='/profile')
          img(src='/images/users/pic.jpg')
    main
      h1 Products we trust in
      .overview
        .card_container
          for product in products
            .card
              .card__header
                .card__picture
                  img.card__picture-img(src=`/images/products/${product.imageCover}`, alt='Sound Image')
                h3.heading-tertirary= product.productName
              .card__details
                p.card__text= product.description
              .card__details_2
                .card__price
                  i.bx.bx-rupee
                  h1.card__price_data
                    span= product.price
                    span /-
                .card__review
                  h2.review__rating
                    i.bx.bx-star
                    span= product.ratingsAverage
                  h2.review_count= '('+ product.ratingsQuantity +')'
              .card__footer
                .card__cart
                  a.card_cart_data.cart(href='#')
                    i.bx.bxs-cart
                    | Add To Cart
                .card__cart
                  a.card_cart_data.details(href='#')
                    i.bx.bxs-detail
                    | Details
    